{% import '_includes/forms' as forms %}

{{ forms.textField({
	first:        true,
	label:        "Slack Team"|t,
	id:           'team',
	name:         'team',
	instructions: "This is the slug of the Slack team that the users will be joining."|t,
	value:        settings.team,
	autofocus:    true,
	errors:       settings.getErrors('team')
}) }}

{{ forms.textField({
	label:        "API Token"|t,
	id:           'token',
	name:         'token',
	instructions: "This is your Slack API Token. You can generate one at the bottom of the <a href='https://api.slack.com/web#authentication' target='_blank'>Web API Page</a>."|t,
	value:        settings.token,
	errors:       settings.getErrors('token')
}) }}

{{ forms.textField({
	label:        "Initial Channels"|t,
	id:           'channels',
	name:         'channels',
	instructions: "A comma-separated list of channel IDs for the new Slack user to join automatically. You can get the IDs from this <a href='https://api.slack.com/methods/channels.list/test' target='_blank'>API Test Tool</a>."|t,
	value:        settings.channels,
	errors:       settings.getErrors('channels')
}) }}